{% extends "base.html" %}
{% block title %}{{ s.page_title }}{% endblock %}
{% block main %}
<div class="lb-page lb-page--download">
  {% with target_page = "download" %}{% include "_home_header.html" %}{% endwith %}

  <div class="lb-page__body lb-page__body--narrow">
    {% include "_dl_hero.html" %}

    <div class="lb-dl-cards">
      {% include "_dl_card_windows.html" %}
      {% with platform = "linux", name = s.platform_linux, sub = s.platform_linux_sub,
              eta = s.eta_linux, icon = "🐧" %}
        {% include "_dl_card_coming.html" %}
      {% endwith %}
      {% with platform = "rpi", name = s.platform_rpi, sub = s.platform_rpi_sub,
              eta = s.eta_rpi, icon = "🍓" %}
        {% include "_dl_card_coming.html" %}
      {% endwith %}
    </div>

    {% include "_dl_body_md.html" %}
  </div>
</div>

<script>
// Sticky-header shadow (same as Home).
(function () {
  var header = document.querySelector('.lb-home-header');
  if (!header) return;
  var sentinel = document.createElement('div');
  sentinel.style.cssText = 'position:absolute;top:0;left:0;height:1px;width:1px;';
  header.parentNode.insertBefore(sentinel, header);
  var io = new IntersectionObserver(function (entries) {
    header.classList.toggle('is-scrolled', !entries[0].isIntersecting);
  });
  io.observe(sentinel);
})();
</script>
{% endblock %}
